*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body, input, select, textarea, button {
    /*font-family: noto sans,malgun gothic,AppleGothic,dotum;*/
    line-height: 1;
    letter-spacing: -.05em;
    color: #4c4c4c;
    font-size: 12px;
    max-width: 100%;
}
div, th, td, li, dt, dd, p {
    word-break: break-all;
}
#main {
    border-bottom: 1px solid #f7f7f7;
}
#header, #container, #content {
    position: relative;
}
#content {
    min-width: 1050px;
    padding-bottom: 60px;
}

#header, #container, #content {
    position: relative;
}
div, th, td, li, dt, dd, p {
    word-break: break-all;
}
ol, ul {
    list-style-type: none;
}
div, th, td, li, dt, dd, p {
    word-break: break-all;
}
a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}

form {
    display: block;
    margin-top: 0em;
}
body, input, select, textarea, button {
    /*font-family: noto sans,malgun gothic,AppleGothic,dotum;*/
    line-height: 1;
    letter-spacing: -.05em;
    color: #4c4c4c;
    font-size: 12px;
    max-width: 100%;
}
button {
    outline: none;
}
ol, ul {
    list-style-type: none;
}
img {
    border: 0;
}
img, video, canvas {
    max-width: 100%;
}
